*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}
:root{
--pink: hsl(322, 100%, 66%);
--light-pink: hsl(321, 100%, 78%);
--light-red: hsl(0, 100%, 63%);
--very-dark-cyan: hsl(192, 100%, 9%);
--very-pale-blue: hsl(207, 100%, 98%);
}
body{
  width:100%;
  color:var(--very-dark-cyan);
  font-family: 'Open Sans', sans-serif;
}
h1, h2{
  font-family: 'Poppins', sans-serif;
  font-weight:700;
  letter-spacing:-1px;
}
.container{
  padding-left:15px;
  padding-right:15px;
  margin-left:auto;
  margin-right:auto;
  
}
@media (max-width:767px){
   .logo{
  width:100px;
}
}
@media (min-width:768px){
 .container{
   width:750px;
 }
}
@media (min-width:992px){
 .container{
   width:970px;
 }
}
@media (min-width:1200px){
 .container{
   width:1170px;
 }
}
.header .container{
  padding-top:30px;
  display:flex;
  Justify-content:space-between;
  Align-items:center;
} 
.header button{
  background:none;
  outline:none;
  color: var(--pink);
  border: 1px solid var(--pink);
  border-radius:20px;
  padding:5px 20px;
  box-shadow:0 0 3px var(--pink);
  cursor:pointer;
}
.landing{
  
  text-align:center;
  padding:30px;
}
.text-landing{
  margin-top:30%;
}
.btn-landing{
  background-color:var(--pink);
  border-radius:20px;
  outline:none;
  border:1px solid var(--pink);
  color:var(--very-pale-blue);
  padding:10px 35px;
  font-weight:400;
  font-size:18px;
  cursor:pointer;
  box-shadow: 0 5px 5px rgb( 0 0 0 / 0.1);
}

.landing h1{
  font-weight: 700;
}
.landing p {
  margin:40px auto 50px;
  font-weight:400;
}
@media (min-width:768px){
 .landing p{
   width:60%;
 }
}
.landing .mock{
  margin-top:100px;
  margin-bottom:100px
}
.mock img{
  width:100%;
}
.num-message h1{
  font-size:70px;
  margin:0 auto ;
}
.num-message p {
  margin:0 auto ;
  text-align:center
}
.text-num-message{
  margin-bottom:100px;
  text-align:center;
}
@media (min-width:768px){
 .num-message{
   display:flex;
   Justify-content:space-between;
   Align-items:center;
 }
.text-num-message{
  flex-basis:300px ;
}
}
.about{
  display:grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  Align-items:center ;
  gap: 30px;
  position:relative;
}
.about-bac{
  position:relative;
  background-color:var(--very-pale-blue);
}
.about-bac:before,.about-bac:after{
  content:"";
  position:absolute;
  left:0;
  width:100%;
  height:105px;
  background-position:100%;
  background-size:100%
}
.about-bac:before{
    bottom:100%;
    background-image:url("../images/bg-section-top-desktop-2.svg");
}
.about-bac:after{
  top:100%;
  height:90px;
  background-image:url("../images/bg-section-bottom-desktop-2.svg");
}
.about-bac.b1:before{
  background-image:url("../images/bg-section-top-desktop-1.svg");
  height:112px;
}
.about-bac.b1:after{
  background-image:url("../images/bg-section-bottom-desktop-1.svg");
}
@media(max-width:767px){
 .about-bac.b1:before{
   background-image:url("../images/bg-section-top-mobile-1.svg");
   height:125px
 }
  .about-bac.b1:after{
   background-image:url("../images/bg-section-bottom-mobile-1.svg");
   height:58px;
 }
.about-bac:before{
  background-image:url("../images/bg-section-top-mobile-2.svg");
  height:116px ;
}
.about-bac:after{
  background-image:url("../images/bg-section-bottom-mobile-2.svg");
  height:114px;
}
}
.about:not(:first-child){
  margin:150px auto;
}

.text-about{
  padding:20px;
}
.about .text-about h1{
  margin:0 auto 30px;
  
}
@media (max-width:767px){
.about .mock{
  grid-area: 1 / 1 / 2 / 2
}
}
.text-about{
  text-align:center ;
  margin-top:50px ;
}
.community{
  text-align:center;
  margin:150px auto;
}
.community button{
  margin-top:20px
}
svg{
  display:block ;
}
.footer-bac{
  min-height:20vh;
  background-color: var(--very-dark-cyan);
  padding-top:30px;
  padding-bottom: 30px;
  background-size:cover;
  background-repeat: no-repeat;
  display:flex;
  Align-items:center;
  position:relative;
}
.footer-bac:before{
  content: "";
  position:absolute;
  bottom:calc(100% - 1px);
  left:0;
  width:100%;
  height:107px;
  background-size: 100%;
  background-position:100%;
  background-image:url("../images/bg-footer-top-desktop.svg");
}
@media (max-width:767px){
 .footer-bac:before{
   height:60px;
   background-image:url("../images/bg-footer-top-mobile.svg");
   top:-60px;
 }
}
.footer{
  display:grid;
  grid-template-columns: 260px 400px;
  Justify-content:space-between;
  color:var(--very-pale-blue);
}
@media (max-width:767px){
 .footer{
   grid-template-columns:1fr
 }
}
.footer .logo{
  width:150px;
  filter:invert(100%)
}
.footer p{
  margin:10px auto ;
}
.footer a{
  display:block;
  text-decoration:none;
  position:relative;
  margin-bottom:5px;
  color:inherit;
}
.fo-left a{
  font-size:14px ;
}
.fo-left a i{
  font-size:14px;
  margin-right:5px
}
.fo-left a i{
  position:relative;
  top:2px;
}
.social i{
  margin-right:5px;
  margin-top:20px;
  }
 .social i:hover{
   color:var(--pink);
 }
 @media (max-width:767px){
  .fo-right{
    grid-area: 1 / 1 / 2 / 2;
    margin-bottom:100px;
  }
 .fo-left p{
   margin-bottom:30px;
 }
.fo-left .social{
  margin-top:30px;
}
.fo-left a{
  margin-top:10px;
}
 }
.fo-right .btn-landing{
  border-radius:5px;
  padding:5px 30px ;
  margin-left: 15px;
  height:30px ;
}
form{
  position:relative;
  margin-top:20px;
}
input[type="text"]{
  background-color:var(--very-pale-blue);
  height:30px;
  border-radius:5px;
  border:none;
  outline:none;
  position:relative;
  padding:10px ;
}
input[type="text"] + span:before{
  content:"Check Your Email Please";
  position:absolute;
  top:40px;
  left:0;
  font-size:10px;
  color:var(--light-red);
  display:none;
}
@media (max-width:767px){
  input[type="text"] + span:before{
    top:60px;
  }
} 
input[type="text"]:focus + span:before{
  display:block;
}
input[type="text"]:focus{
  border: 1px solid var(--light-red)
}
@media (max-width:767px){
input[type="text"]{
  display:block;
  width:100%;
  height:50px;
}
form{
  display:flex;
  flex-wrap:wrap;
  Justify-content:flex-end ;
  margin-top:20px;
}
input[type="submit"]{
  width:40%;
  margin-top:20px;
  display:block;
}
} 
